/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
   Created on : 21 ago 2025, 03:44:20
   Author     : boror
*/
            /* Color fondo principal */
/* Color fondo principal */
.fondoPrincipal {
background: linear-gradient(90deg,
                   #fbc1ab 0%,
                   #96253d 50%,
                   #2f344f 50%,      /* azul oscuro */
    #683653 55%,     /* azul/rojo intermedio */
    #96253d 65%,     /* rojo oscuro */
    #d45d61 75%,     /* rojo medio */
    #ffcddb 90%,     /* rojo claro */
    #fbc1ab 100%);    /* rosa claro */
background-repeat: no-repeat;
background-size: 100% 100%;
min-height: 100vh;
}

/* Color de textos */
.tituloColor { color: #04214B; font-weight: 600; }
.textoColor { color: #125187; }

/* Estilo input */
.inputColor, .form-control.inputColor {
background: transparent;
border: none;
border-bottom: 2px solid rgba(18,81,135,0.16);
border-radius: 0;
padding: 10px 8px;
box-shadow: none;
transition: border-color .18s, box-shadow .18s;
}

/* Botón principal */
.btnColor {
background: linear-gradient(90deg, #125187, #4294AD) !important;
border: none !important;
color: #fff !important;
}

/* Cuadro del formulario */


/* Contenedor personalizable */
.container.mt-4.col-lg-4 {
   position: absolute;
   top: 0;
   right: 100;
   left: 1150px;
width: 1000px;
height: 1000px;
display: flex;
align-items: center;
justify-content: flex-end;
margin: 0 0px;
}

/* Logo Fondo (Mitad derecha) */
.logoFondo {
position: absolute;
                
                left: 0%; 
top: 50%;
transform: translate(0%, -50%); 
width: 48vw; 
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}

/* Tamaño imagen usuario */
.tamanoUsuario {
width: 32px;
height: 32px;
object-fit: contain;
}

/* Tamaño imagen contraseña */
.tamanoContra {
width: 40px;
height: 40px;
object-fit: contain;
}