body {
    background: #f4f6f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-bar {
    background-color: #2f344f;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0 0 15px 15px;
    margin-bottom: 25px;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.card-body label {
    color: #38446c;
}
.btn-info {
    background-color: #683653;
    border: none;
}
.btn-info:hover {
    background-color: 180f1d;
}
.table thead {
    background-color: #2f344f;
    color: white;
}
.table tbody tr:hover {
    background-color: #e3e6f0;
}